.carousel-caption-journal {
  display: flex;
  flex-wrap: wrap;
  top: 145px;
  bottom: 24%;
  max-width: 350px;
  height: 40%;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
 
@media screen and (max-width: 949px){
  height: auto;
  min-height: 40%;
  align-items: stretch;  
}   

  h3 {
    font-size: 14px;
    font-weight: 500;
    color: black;
    width: 100%;
    padding-top: inherit;
    @media screen and (max-width: 949px){
      height: 100%;
    }   
    
  }
  h2 {
    font-family: "sectra-fine";
    font-weight: 900;
    font-size: 24px;
    color: black;
    padding: 0px 25px 0px 25px;
    width: 100%;
    text-transform: lowercase;
    @media screen and (max-width: 949px){
      height: 100%;
    }   
    
    @media screen and(max-width: 600px) {
      padding: 0px 10px;
    }

    &:first-letter {
      text-transform: uppercase;
    }
  }
  a {
    font-size: 14px;
    color: $color-orange-500;
    letter-spacing: 0.06em;
    height: 100%;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    &:active, &:hover{
      text-decoration: none;
      color: $color-orange-500;

    }
  }

  @media screen and (max-width: 949px) {
    right: 0 !important;
    left: 0 !important;
    top: auto;
    bottom: 0 !important;
    width: 100%;
    max-width: none;
    background-color: #ffffffc4;
  }
}