.wrapper {
  position: relative;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;

  span {
    background: $color-white;
    display: block;
    position: relative;
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.7rem auto;
    transition: all ease-in-out 0.8s;
  }

  .open span:nth-child(2) {
    opacity: 0;
  }

  .open span:nth-child(3) {
    transform: rotate(45deg);
    top: -7px;
    width: 2.5rem;
    margin: 0px;
  }

  .open span:nth-child(1) {
    transform: rotate(-45deg);
    top: 11px;
    width: 2.5rem;
    margin: 0px;
  }
  .open {
    padding-top: 0px;
  }
}
