.collapse-wrapper {
  background: $color-black-claire;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 100;
  color: $color-white;
  .nav-links {
    list-style-type: none;
    padding: 2rem 1rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      transition: all 5000ms linear 5s;
    }
    span {
      line-height: 2;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
    }
    a {
      line-height: 2;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      color: $color-white;
    }
  }
  @media (min-width: 1100px) {
    display: none;
  }
}
