@import "./coach/style.scss";
@import "./search-bar/style.scss";
@import "./article/style.scss";

.add-btn-div-tab {
  text-align: end !important;
  margin-top: 20px;
}
.table-body {
  font-family: $font-sans-serif;
  font-size: 12px;
}
.css-z9mdn {
  padding: 0px;
}
