
    .fix-shadow-filters {
        display: flex; 
        flex-wrap: wrap;
    }

    .filters-toggler {
        display: none;
      }
      a .filters-toggler::after {
        text-align: center;
      
        @media screen and (max-width: 700px) {
          display: block;
          position: absolute;
          top: 50%;
          right: 10%;
          width: 2vw;
          height: 2vw;
          -webkit-transform: rotate(-90deg) translateZ(0);
          -moz-transform: rotate(-90deg) translateZ(0);
          transform: rotate(-90deg) translateZ(0);
          -webkit-transition: 550ms cubic-bezier(0.32, 1.07, 0.67, 1);
          -moz-transition: 550ms cubic-bezier(0.32, 1.07, 0.67, 1);
          transition: 550ms cubic-bezier(0.32, 1.07, 0.67, 1);
        }
      }
      
      .day-filter {
        background-color: $color-black;
        letter-spacing: 3px;
        font-size: 12px;
      }
      
      .custom-select {
        display: block;
        width: 100%;
      }
      select {
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: -internal-light-dark( $color-black,  $color-white);
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: menulist;
        box-sizing: border-box;
        align-items: center;
        white-space: pre;
        -webkit-rtl-ordering: logical;
        background-color: -internal-light-dark($color-white, $color-black-500);
        cursor: default;
        margin: 0em;
        font: 400 16px Arial;
        border-radius: 0px;
        border-width: 1px;
        border-style: solid;
        border-color: -internal-light-dark($color-gray-700, $color-gray-500);
        border-image: initial;
      }
      .w_custom-select {
        display: inline-block;
        position: relative;
      }
      .w_custom-select select {
        display: none;
        visibility: hidden;
        pointer-events: none;
      }
      select:not(:-internal-list-box) {
        overflow: visible !important;
      }
      
      .grid-col.col_size-4 {
        width: 50%;
      }
      .filter-container {
        margin-bottom: 10px;
      }
      
      .grid-col.mobile_size-12 {
        @media screen and (max-width: 700px) {
          width: 100%;
          clear: both;
          float: none;
        }
      }
      
      .w_grid {
        .limited-content {
          max-width: 1440px;
        }
      }
      
      option {
        font-weight: normal;
        display: block;
        white-space: pre;
        min-height: 1.2em;
        padding: 0px 2px 1px;
      }
      .custom-select .wselect-input.default {
        color: $color-gray-600;
        border: 1px solid $color-gray-800;
      }
      .custom-select .wselect-input {
        padding: 15px 20px;
        font-size: 12px;
        text-transform: uppercase;
        color: $color-white;
        border: 1px solid $color-gray-800;
        font-weight: 600;
        opacity: 1;
        -webkit-transition: 250ms cubic-bezier(0.32, 1.07, 0.67, 1);
        -moz-transition: 250ms cubic-bezier(0.32, 1.07, 0.67, 1);
        transition: 250ms cubic-bezier(0.32, 1.07, 0.67, 1);
        -webkit-transform: translateY(0) translateZ(0);
        -moz-transform: translateY(0) translateZ(0);
        transform: translateY(0) translateZ(0);
      }
      .w_custom-select .wselect-input {
        position: relative;
        display: block;
        z-index: 1;
      }
      
      .custom-select .wdropdown.multi-select {
        max-height: none;
        overflow: visible;
      }
      .custom-select .wdropdown.open {
        opacity: 2;
        -webkit-transform: translateY(0) translateZ(0);
      
        -moz-transform: translateY(0) translateZ(0);
        transform: translateY(0) translateZ(0);
      }
      .custom-select .wselect-input.open {
        opacity: 0;
        -webkit-transform: translateY(-20px) translateZ(0);
        -moz-transform: translateY(-20px) translateZ(0);
        transform: translateY(-20px) translateZ(0);
      }
      .w_custom-select .wselect-input.open {
        z-index: 2;
      }
      .custom-select .wdropdown {
        top: 0;
        bottom: auto;
        width: 100%;
        background: $color-black-700;
        z-index: 3;
        overflow: auto;
        max-height: 30vh;
        opacity: 0;
        -webkit-transform: translateY(20px) translateZ(0);
        -moz-transform: translateY(20px) translateZ(0);
        transform: translateY(20px) translateZ(0);
        -webkit-transition: 550ms cubic-bezier(0.32, 1.07, 0.67, 1);
        -moz-transition: 550ms cubic-bezier(0.32, 1.07, 0.67, 1);
        transition: 550ms cubic-bezier(0.32, 1.07, 0.67, 1);
      }
      .w_custom-select .wdropdown {
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        list-style: none;
        -weblit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        transform: translateY(100%);
        z-index: 4;
      }
      .multi-select {
        width: 100%;
        padding-left: 0;
      }
      .custom-select .wdropdown.multi-select .wdropdown-list {
        max-height: 30vh;
        overflow: auto;
      }
      
      .custom-select .wdropdown.multi-select .wdropdown-actions {
        background: $color-black-700;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
      }
      .custom-select .wdropdown.multi-select .wdropdown-actions .resetor {
        color: $color-gray-600;
        text-decoration: underline;
        margin-left: 10px;
      }
      .custom-select .wdropdown.multi-select .wdropdown-actions .filtor {
        color: $color-gray-600;
        text-transform: uppercase;
        padding: 10px;
        border: 1px solid $color-gray-600;
        margin: 10px;
        font-weight: 500;
        letter-spacing: 1px;
      }
      